<h1>id: <%= @task.id %>のタスク詳細</h1>


<p><%= @task.content %></p>
<p>status: <%= @task.status %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このタスクを編集する', edit_task_path %>
<%= link_to 'このメッセージを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？'} %>